.row {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.trasp{
	background-color: transparent;
}

input::placeholder{
	color: black;
}
textarea::placeholder {
	color: white;
}

.white {
	text-align: center;
	color: #fff;
}

:root { 
	-color_0: #000; 
	-color_1: #fff; 
	-color_2: #2655c1; 
	-color_3: #372f7f;
}

.form-bg {
	
}

form {
	font-family: 'Roboto', sans-serif;
}

.form-horizontal .header {
/* 	background: dimgrey; */
	padding: 30px 25px;
	font-size: 30px;
	color: black;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px 3px 0 0;
}

.form-horizontal .heading {
	font-size: 16px;
	color: #2655c1;
	margin: 10px 0 20px 0;
	text-transform: capitalize;
}

.form-horizontal .form-content {
	padding: 25px;
/* 	background: #fff; */
}

.form-horizontal .form-control{
	padding: 12px 16px 12px 39px;
	height: 50px;
	font-size: 14px;
	background:white;
	border: none;
	border-bottom: 2px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 15px;
}

.form-horizontal .form-control:focus {
	border-color: #2655c1;
	box-shadow: none;
}

.form-horizontal .control-label {
	font-size: 17px;
	color: #ccc;
	position: absolute;
	top: 5px;
	left: 27px;
	text-align: center;
}

.form-horizontal textarea.form-control {
	resize: vertical;
	height: 130px;
}

.form-horizontal .btn {
	font-size: 18px;
	color: #4e4e4e;
	float: right;
	margin: 10px 0;
	border: 2px solid #ccc;
	border-radius: 0;
	padding: 10px 25px;
	transition: all 0.5s ease 0s;
}

.btnmk {
	
	color: var(- -color_1) !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-horizontal .btn:hover {
	background: #fff;
	border-color: #2655c1;
	color: #000 !important;
}

.col-sm-6 {
	float: left;
}

.col-md-offset-2.col-md-6 {
	margin: 0 auto;
}